<a href="https://colab.research.google.com/github/MisterGusMan/IGTI_Bootcamp_ML/blob/main/M%C3%B3dulo%203/Trabalho_Pr%C3%A1tico_do_M%C3%B3dulo_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Classificação (SVM)
clas = pd.read_csv('bloodtransf.csv')
clas.head()

   V1  V2     V3  V4  Class
0   2  50  12500  98      2
1   0  13   3250  28      2
2   1  16   4000  35      2
3   2  20   5000  45      2
4   1  24   6000  77      1

In [ ]:
# Regressão (linear)
reg = pd.read_csv('diabetes_numeric.csv')
reg.head()

    age  deficit  c_peptide
0   5.2     -8.1        4.8
1   8.8    -16.1        4.1
2  10.5     -0.9        5.2
3  10.6     -7.8        5.5
4  10.4    -29.0        5.0

In [ ]:
# Clusterização (kmeans)
clust = pd.read_csv('wine.csv')
clust.head()

   class  Alcohol  Malic_acid  ...   Hue  OD280%2FOD315_of_diluted_wines  Proline
0      1    14.23        1.71  ...  1.04                            3.92     1065
1      1    13.20        1.78  ...  1.05                            3.40     1050
2      1    13.16        2.36  ...  1.03                            3.17     1185
3      1    14.37        1.95  ...  0.86                            3.45     1480
4      1    13.24        2.59  ...  1.04                            2.93      735

[5 rows x 14 columns]

In [ ]:
# 1. Sobre o número de atributos da base de regressão, marque a alternativa CORRETA: 
len(reg.columns)

3

In [ ]:
# 2. Sobre o número de instâncias da base de classificação, marque a alternativa CORRETA: 
len(clas)

748

In [ ]:
# 3. Sobre a base de clusterização, marque a alternativa CORRETA: 
print(len(clust),'\n',clust['class'].value_counts())

178
 2    71
1    59
3    48
Name: class, dtype: int64

In [ ]:
# 4.Sobre dados faltantes, marque a alternativa CORRETA: 
for name in [clas, reg, clust]:
  print(name.isnull().values.any())

False
False
False

#Métricas do modelo de regressão linear (r2, MAE, MSE):

In [ ]:
X = reg.drop('c_peptide', axis =1)
y = reg['c_peptide']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35, random_state=54)

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
pred = lr.predict(X_test)
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
print(r2_score(y_test, pred), mean_squared_error(y_test, pred), mean_absolute_error(y_test, pred))

0.2730761502482787 0.40159703152494497 0.5469803958260979

# Métricas do modelo SVM (Classificação):

In [ ]:
X = clas.drop('Class', axis = 1)
y = clas['Class']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35, random_state=54)
from sklearn.svm import SVC
svc = SVC()
svc.fit(X_train, y_train)
pred = svc.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report, roc_auc_score
print(classification_report(y_test, pred),'\n', roc_auc_score(y_test, pred))

              precision    recall  f1-score   support

           1       0.76      1.00      0.86       199
           2       0.00      0.00      0.00        63

    accuracy                           0.76       262
   macro avg       0.38      0.50      0.43       262
weighted avg       0.58      0.76      0.66       262

 0.5

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# Métricas do modelo kmeans (Clusterização)

In [104]:
X = clust.drop('class', axis = 1)
y = clust['class']

In [129]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35, random_state=54)
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score, davies_bouldin_score, mutual_info_score
for i in range(2,10):
  km = KMeans(n_clusters=i)
  km.fit(X_train, y_train)
  pred = km.predict(X_test)
  print(f'n_clusters = {i}: {silhouette_score(X_test, pred)} -- {davies_bouldin_score(X_test, pred)} -- {mutual_info_score(y_test, pred)}')

n_clusters = 2: 0.6566615530661456 -- 0.48509962120831607 -- 0.2192765921126126
n_clusters = 3: 0.5581747258825838 -- 0.5316199338449925 -- 0.42739927199674965
n_clusters = 4: 0.532213993168818 -- 0.5821727325652073 -- 0.4407386697717617
n_clusters = 5: 0.5030240734503257 -- 0.5747252365109322 -- 0.4968389384279057
n_clusters = 6: 0.5408692105072087 -- 0.4431818315606419 -- 0.4994968269171285
n_clusters = 7: 0.5544846401539949 -- 0.4319047738637215 -- 0.5106691945384048
n_clusters = 8: 0.5004200892599252 -- 0.48442178372550965 -- 0.5206743363441058
n_clusters = 9: 0.45686834486504896 -- 0.5602461430788165 -- 0.5278811089587501