<a href="https://colab.research.google.com/github/MisterGusMan/IGTI_Bootcamp_ML/blob/main/M%C3%B3dulo%202/Trabalho_Pr%C3%A1tico_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Este notebook será usado para responder as perguntas do Trabalho Prático 2.

# Enunciado:
O uso de bicicletas como um meio de transporte ganhou muita força nos últimos anos, seja por questões ambientais, de saúde ou até mesmo infraestrutura de trânsito. Para incentivar o uso, cidades em todo o mundo têm implementado programas de compartilhamento de bicicleta.  Nesses  sistemas,as  bicicletas  são  retiradas  e  devolvidas  em  quiosques automatizados espalhados em diversos pontos da cidade.As  plataformas  de  compartilhamento  de  bicicletas  costumam  coletar  diversos  tipos  de dados, entre eles: duração da viagem, localização inicial e final do percurso, entre outros. Esses  dados  coletados  pela  plataforma,  em  conjunto  com  informações  sobre  o  clima, trânsito   e   relevo,   por   exemplo,   tornampossível   uma   análise   mais   robusta   de compartilhamento de bicicletas.

A seguir, um descritivo dos dados coletados:

‒rec_id: índice do registro de locação.

‒datetime: data.

‒season: estação do ano (1: inverno, 2: primavera, 3: verão, 4: outono). Relativo ao hemisfério norte.

‒year: ano (0: 2011, 1:2012).

‒month: mês (1 a 12).

‒hour: hora do dia (0 a 23).

‒is_holiday: booleano indicando feriado.

‒weekday: dia da semana (0: domingo, 1: segunda-feira, ..., 6: sábado).

‒is_workingday: booleano indicando dia útil.

‒weather_condition: (1: limpo, 2: nublado, 3: chuva leve, 4: chuva forte).

‒temp: temperatura escalada entre 0 e 1. Valor original em graus Celsius: -8 a 39.

‒atemp: sensação térmica escalada entre 0 e 1. Valor original em graus Celsius: -16 a 50.

‒humidity: umidade relativa (0 a 1).

‒windspeed: velocidade do vento escalada entre 0 e 1 (máximo original: 67).

‒casual: número de locações para usuários casuais.

‒registered: número de locações para usuários registrados.

‒total_count: contador total de aluguéis (casual+registered).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('https://pycourse.s3.amazonaws.com/bike-sharing.csv')
df.head()

     datetime  rec_id  season  year  ...  windspeed  casual  registered  total_count
0  2011-01-01       1       1     0  ...        0.0       3          13           16
1  2011-01-01       2       1     0  ...        0.0       8          32           40
2  2011-01-01       3       1     0  ...        0.0       5          27           32
3  2011-01-01       4       1     0  ...        0.0       3          10           13
4  2011-01-01       5       1     0  ...        0.0       0           1            1

[5 rows x 17 columns]

In [ ]:
# Tamanho do dataframe:
df.shape

(17379, 17)

In [ ]:
# Média da coluna 'windspeed'
df['windspeed'].mean()

0.1900976063064631

In [91]:
# Média da coluna temp:
df['temp'].mean()

0.4969871684216586

In [ ]:
# Quantidade de registros em 2011:
df[df['datetime'].apply(lambda x: x.split('-')[0]) == '2011'].shape

(8645, 17)

In [ ]:
# Quantidade de registros em 2012:
df[df['datetime'].apply(lambda x: x.split('-')[0]) == '2012'].shape

(8734, 17)

In [ ]:
# Quantidade de locações de bicicleta em 2011:
df[df['datetime'].apply(lambda x: x.split('-')[0]) == '2011']['total_count'].sum()

1243103

In [ ]:
# Quantidade de locações de bicicleta em 2012:
df[df['datetime'].apply(lambda x: x.split('-')[0]) == '2012']['total_count'].sum()

2049576

In [38]:
# Estação do ano com a maior/menor média de locações:
for i in range(1,5):
  print('Estação {}: {}'.format(i, df[df.season == i]['total_count'].mean()))

Estação 1: 111.11456859971712
Estação 2: 208.34406894987526
Estação 3: 236.01623665480426
Estação 4: 198.86885633270322

In [42]:
# Horário com a maior/menor média de locações:
for i in range(1,24):
  print('{}h: {}'.format(i, df[df.hour == i]['total_count'].mean()))

1h: 33.3756906077348
2h: 22.86993006993007
3h: 11.727403156384504
4h: 6.352941176470588
5h: 19.88981868898187
6h: 76.04413793103448
7h: 212.0646492434663
8h: 359.01100412654745
9h: 219.30949105914718
10h: 173.6685006877579
11h: 208.1430536451169
12h: 253.31593406593407
13h: 253.66117969821673
14h: 240.94924554183814
15h: 251.2331961591221
16h: 311.9835616438356
17h: 461.45205479452056
18h: 425.510989010989
19h: 311.52335164835165
20h: 226.03021978021977
21h: 172.31456043956044
22h: 131.33516483516485
23h: 87.83104395604396

In [46]:
# Dia da semana com a maior/menor média de locações:
for i in range(7):
  print('Dia {}: {}'.format(i, df[df.weekday == i]['total_count'].mean()))

Dia 0: 177.46882494004797
Dia 1: 183.74465510286404
Dia 2: 191.23889115368937
Dia 3: 191.13050505050506
Dia 4: 196.43666531768514
Dia 5: 196.13590671491758
Dia 6: 190.20979299363057

In [89]:
 # Horário com mais locações nas quartas (dia 3):
for i in range(1,24):
  print('{}h: {}'.format(i, df[(df.hour == i) & (df.weekday == 3)]['total_count'].mean()))

1h: 15.336538461538462
2h: 7.813725490196078
3h: 4.888888888888889
4h: 4.96875
5h: 25.75
6h: 107.8076923076923
7h: 303.9807692307692
8h: 488.3269230769231
9h: 238.52884615384616
10h: 131.89423076923077
11h: 152.20192307692307
12h: 193.90384615384616
13h: 185.82692307692307
14h: 170.54807692307693
15h: 181.28846153846155
16h: 272.96153846153845
17h: 513.1442307692307
18h: 494.02912621359224
19h: 357.50485436893206
20h: 256.6601941747573
21h: 194.66990291262135
22h: 143.6893203883495
23h: 83.7378640776699

In [90]:
# Horário com mais locações nos sábados (dia 6):
for i in range(1,24):
  print('{}h: {}'.format(i, df[(df.hour == i) & (df.weekday == 6)]['total_count'].mean()))

1h: 67.78095238095239
2h: 50.49523809523809
3h: 22.885714285714286
4h: 7.6571428571428575
5h: 8.29126213592233
6h: 21.0
7h: 45.96190476190476
8h: 114.47619047619048
9h: 186.7904761904762
10h: 263.7238095238095
11h: 328.6095238095238
12h: 375.3809523809524
13h: 385.37142857142857
14h: 381.3333333333333
15h: 382.42857142857144
16h: 366.14285714285717
17h: 334.4095238095238
18h: 292.0480769230769
19h: 239.93269230769232
20h: 180.8653846153846
21h: 156.0
22h: 139.66346153846155
23h: 115.85576923076923